<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic</title>
    <link href="{{ url_for('static', filename='sem1.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
    <h2>{{prod_title}}</h2>
    <table border="1">
        <tr class="tab_title">
            <td>ID пациента</td>
            <td>Дата рождения</td>
            <td>Паспортные данные</td>
            <td>Адрес</td>
            <td>Дата поступления</td>
            <td>Номер палаты</td>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{patient[0]}}</td>
            <td>{{patient[1]}}</td>
            <td>{{patient[2]}}</td>
            <td>{{patient[3]}}</td>
            <td>{{patient[4]}}</td>
            <td>{{patient[5]}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>
    <a href="{{ url_for('query_bp.query_menu') }}">Нажмите для возврата в меню запросов</a>
    </p>
</center>
</body>
</html>