<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input_param</title>
</head>
<body>
    <center>
        <h2>Ввод параметров запроса о лечащих врачах</h2>
        <p>
            <form method="post" action="">
                <label for="d_name">Введите название отделения</label>
                <input type="text" id="d_name" name="d_name">
                <br>
                <br>
                <label for="p_admission_date">Введите год</label>
                <input type="text" id="p_admission_date" name="p_admission_date">
                <br>
                <br>
                <input type="submit" value="Отправить">
            </form>
            <br>
            <a href="{{ url_for('query_bp.query_menu') }}">Вернуться в меню запросов</a>
        </p>
    </center>
</body>
</html>
