<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ввод параметров</title>
    <link href="{{ url_for('static', filename='query.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="input-param-container">
        <h2>Ввод параметров запроса о пациентах</h2>
        <form method="post" action="">
            <label for="d_id">Введите номер отделения</label>
            <input type="text" id="d_id" name="d_id">
            <br><br>
            <input type="submit" value="Отправить" class="submit-button">
        </form>
        <br>
        <a href="{{ url_for('query_bp.query_menu') }}" class="return-link">Вернуться в меню запросов</a>
    </div>
</body>
</html>
