<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>
<body>
<h7> {{message}} </h7>
<center>
    <h2>Главное меню</h2>
    <p>
        <a href="{{url_for('auth_bp.auth_index')}}">Авторизация</a>
        <br>
        <a href="{{url_for('query_bp.query_menu')}}">Работа с запросами</a>
        <br>
        <a href="{{url_for('report_bp.report_menu')}}">Работа с отчетами</a>
        <br>
        <a href="{{url_for('staff_bp.department_list')}}">Работа с персоналом</a>
        <br>
        <a href="{{url_for('exit_func')}}">Нажмите для выхода из системы</a>
    </p>
</center>
</body>
</html>